<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
  <title>Document</title>
 <!-- bower:js -->
  <!-- bower installed scripts will go here... -->
  <!-- endinject -->
  <!-- inject:js -->
  <!-- app scripts will go here... -->
  <!-- endinject -->
</head>
<body>
  <div class="jumbotron">
    <h2>hey</h2>
    <p>
      {{body}}
    </p>
    <i class="fas fa-user"></i>
    <i class="far fa-user"></i>
  </div>
  <script src="lib/font-awesome/svg-with-js/js/fontawesome-all.min.js"></script>
</body>
</html>